h1 {
    text-align: center;
    color: blue;
    font-size: 50px;
    font-weight: 500;
  }
  p {
    text-emphasis: none;
    font-size: 20px;
  }
  .row {
    display: flex;
  }
  .column {
    flex: 33.33%;
    padding: 30px;
    transition: 1s ease;
  }
  
  img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
  }
  img {
    width: 300px;
    padding-right: 15px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
  }